@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: height 0.3s ease;
  background: linear-gradient(135deg, #d9e8f5, #f5f8fd);
  overflow-x: hidden;
}

img{
  width: 30%;
  margin-bottom: 10px; 
}
.container.expanded {
  height: 100%;
}

.toggle-btn {
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  background-color: #d71a60;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: width 0.3s ease, height 0.3s ease;
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Inconsolata', monospace;
}

.container.expanded .toggle-btn {
  width: 95%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  max-width: 400px;
  width: 80%;
}

.form.visible {
  opacity: 1;
}

.input:focus {
  outline: none !important;
  border:1px solid #FF5733;
  box-shadow: 0 0 10px #719ECE;
}
.label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-family: 'Inconsolata', monospace;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #d71a60;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

/* Toastify styles */
.Toastify__toast {
  border-radius: 4px;
  font-family: 'Inconsolata', monospace;
  background-color: #d71a60;
  color: #fff;
}

.Toastify__toast--success {
  background-color: #28a745;
}

.Toastify__toast-body {
  padding: 10px;
}

.Toastify__close-button {
  margin-left: 10px;
}
